* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --global-color: #323238;
  --font-size-timer: 12.6rem;
  --ff: "Roboto", sans-serif;
}

body {
  font-family: var(--ff);
}

.app {
  display: grid;
  gap: 19.2rem;
  height: 100vh;
  place-content: center;
  grid-template-columns: auto auto;
  align-items: center;
}

.timer {
  color: var(--global-color);
  font-size: var(--font-size-timer);
}

.clock {
  display: flex;
  margin-bottom: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.sr-only {
  display: none;
}

.sounds {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2rem;
}

.tree-card,
.cloud-card,
.coffe-shop-card,
.fire-card {
  border: none;
}

.ph-play-circle,
.ph-stop-circle,
.ph-plus-circle,
.ph-minus-circle {
  border: none;

  background-color: transparent;
  color: var(--global-color);

  cursor: pointer;
  font-size: 4.4rem;
}
