* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --global-color: #323238;
  --font-size-timer: 12.6rem;
  --ff: "Roboto", sans-serif;
}

body {
  font-family: var(--ff);
}

.app {
  display: grid;
  gap: 19.2rem;
  height: 100vh;
  place-content: center;
  grid-template-columns: 20rem 20rem;
}

.timer {
  color: var(--global-color);
  font-size: var(--font-size-timer);
}

.sr-only {
  display: none;
}
